.carousel-loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-item {
  margin-bottom: 24px;
}

.card-item__inner-wrapper {
  position: relative;
}

.painting-descr {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75%;
  padding: 20px;
  background-color: var(--body-background);
  transition: background-color 0.2s;
}

.painting-descr::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 50%;
  left: 0;
  top: 25%;
  background-color: var(--year-created-color);
  transition: background-color 0.2s;
}

.painting-name {
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--paintion-name-color);
  transition: color 0.2s;
}

.painting-created {
  font-size: 12px;
  color: var(--year-created-color);
  transition: color 0.2s;
}

.anticon {
  color: var(--pagination-color);
  transition: color 0.2s;
}

.ant-pagination-item-link:hover {
  background-color: var(--pagination-active) !important;
}

.ant-pagination-item {
  position: relative;
  background-color: transparent !important;
  color: var(--pagination-color);
  border: none !important;
}

.ant-pagination-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: transparent;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s;
}

.ant-pagination-item:hover::after {
  background-color: rgba(87, 87, 87, 1);
}

.ant-pagination-item-active {
  background-color: var(--pagination-active) !important;
}
