$primary-light: #fff;
$year-created-color-light: #9b4b4b;
$painting-name-color-light: #121212;
$input-search-background-light: #fcfcfc;
$input-color-light: #575757;
$toggle-button-background-light: #fcfcfc;
$toggle-button-background-hover-light: #f3f3f3;

$primary-dark: #121212;
$year-created-color-dark: #ab8956;
$painting-name-color-dark: #dedede;
$input-search-background-dark: #1a1818;
$input-color-dark: #dedede;
$toggle-button-background-dark: #1a1818;
$toggle-button-background-hover-dark: #1b1b1b;
