.btn-toggle {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: var(--toggle-button-background);
  border-radius: 50%;
  transition: background-color 0.2s;
}

.btn-toggle:hover {
  background-color: var(--toggle-button-background-hover);
}

.toggle-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
